{% extends "base.html" %}

{% block title %} Persons {% endblock %}

{% block content %}

    <h2> Persons information </h2>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">age</th>
      <th scope="col">sex</th>
      <th scope="col">hobbies</th>
      <th scope="col">comments</th>

    </tr>
  </thead>
  <tbody>
  {% for person in persons %}
    <tr>
      <th scope="row">{{person.id}}</th>
      <td>{{person.first_name}}</td>
      <td>{{person.last_name}}</td>
      <td>{{person.age}}</td>
      <td>{{person.sex}}</td>
      <td>
        {% for hobby in person.hobbies.all %}
          {{hobby.name}}
        {% endfor %}
      </td>
      <td>
        {% for comment in person.hotel_comments.all %}
          {{comment.comment}}
        {% endfor %}
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>

{% endblock %}