{% extends "base.html" %}

{% block title %} User comment {% endblock %}

{% block content %}

    <h2> some user comment wil be here </h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">user_id</th>
      <th scope="col">name</th>
      <th scope="col">comment</th>
    </tr>
  </thead>
  <tbody>
  {% for comment in comments %}
    <tr>
      <th scope="row">{{comment.number}}</th>
      <td>{{comment.user_id}}</td>
      <td>{{comment.name}}</td>
      <td>{{comment.comment}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}