{% extends "base.html" %}

{% block title %} Comments {% endblock %}

{% block content %}

    <h2> User comments </h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">user_id</th>
      <th scope="col">comment</th>
      <th scope="col">time</th>
    </tr>
  </thead>
  <tbody>
  {% for comment in comments %}
    <tr>
      <th scope="row">{{comment.id}}</th>
      <td>{{comment.id}}</td>
      <td>{{comment.comment}}</td>
      <td>{{comment.comment_time}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}